<div>
  <div>
    <h2>ConfigService</h2>
    <p>
      This service allows create the configuration for the banking applications.
    </p>
  </div>


  <div>
    <h3>How use</h3>
    <div class="container-code bg-black">
        <div>
          <div class="circle-code bg-red"></div>
          <div class="circle-code bg-yellow"></div>
          <div class="circle-code bg-green"></div>
        </div>
  
        <pre><code highlight [code]="code"></code></pre>
      </div>

  </div>

  <div>
    <h3>Details</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">JSON</th>
          <th scope="col">Description</th>
          <th scope="col">Test</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ config | json }}</td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni odit deserunt aliquam, libero voluptates nesciunt
            explicabo ea cum laborum atque nulla voluptatum dolor voluptatibus doloribus cumque ipsa quis saepe inventore.</td>

          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>