<div>
  <div>
    <h2>Getting Started</h2>
    <p>
      This library allows integrate the logica bussines for projects (CNB, SVP)
    </p>
  </div>


  <div>
    <h3>How install</h3>
    
    <div class="container-code bg-black">
      <div>
        <div class="circle-code bg-red"></div>
        <div class="circle-code bg-yellow"></div>
        <div class="circle-code bg-green"></div>
      </div>

      <pre><code highlight [code]="code"></code></pre>
    </div>
  </div>

  <div>
    <h3>Details</h3>
  </div>

</div>