<div>
  <div>
    <h2>UserService</h2>
    <p>
      This service allows verify user in diferent channels
    </p>
  </div>

  <div>
    <h3>How use</h3>
    <div class="container-code bg-black">
      <div>
        <div class="circle-code bg-red"></div>
        <div class="circle-code bg-yellow"></div>
        <div class="circle-code bg-green"></div>
      </div>

      <pre><code highlight [code]="code"></code></pre>
    </div>
  </div>

  <div>
    <h3>Details</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Method</th>
          <th scope="col">Description</th>
          <th scope="col">Params</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>verifyUser(username)</td>
          <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga perspiciatis optio sit ipsam corporis incidunt,
            beatae ea libero enim sint distinctio accusamus doloribus at perferendis minus vel nisi. Iure, labore?</td>
          <td>
            <ul>
              <li>@username</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>