<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">


            <div class="bg-gray-low mt-3">

                <section>
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">Logic-library</a>
                    </nav>
                </section>

                <section>
                    <h1>Logic lib</h1>
                    <h3>Description</h3>
                    <p>This library allows to know in detail the behavior of services for SVP</p>
                </section>



                <section>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="list-group" id="list-tab">
                                <a class="list-group-item list-group-item-action" routerLink="/getting-started">Getting Started</a>
                                <a class="list-group-item list-group-item-action" routerLink="/config">ConfigService</a>
                                <a class="list-group-item list-group-item-action" routerLink="/session">SessionService</a>
                                <a class="list-group-item list-group-item-action" routerLink="interceptor">InterceptorService</a>
                                <a class="list-group-item list-group-item-action" routerLink="/login">LoginService</a>
                                <a class="list-group-item list-group-item-action" routerLink="/logout">LogoutService</a>
                                <a class="list-group-item list-group-item-action" routerLink="/user">UserService</a>
                                <a class="list-group-item list-group-item-action" routerLink=""></a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>