.bg-black {
    background:#272822;
}

.bg-red {
    background:#ff5f56;
}

.bg-yellow {
    background:#FFBD2E;
    
}

.bg-green {
    background:#27c93f;
}

.circle-code {
    width: 15px;
    height: 15px;
    padding: 8px;
    margin: 8px;
    border-radius: 50%;
    display: inline-block;
}

.container-code{
    padding:10px;
    border-radius: 5px;
}
